
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    
   

}
.text-primary{
    color: #4E47FF;
}
.nav-title{
    font-weight: 900;
    font-size: 34px;
    
}
nav ul li{
    list-style: none;
    
}
.btn-primary{
    font-weight: bold;
    font-size: 16px;
    background-color:#4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
}
.banner-title{
    color: #252432;
    font-weight:700 ;
    font-size: 65px;
    /* max-width: 900px; */
    margin-bottom: 37px;

}
.banner{
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    margin: 150px 260px 150px 260px;
}
.header{
    background-image: url("../Assets/Hero-bg.png");
}
